
.grid {
 background-color:rgb(255, 255, 255) ;
}

.grid2 {
    background-color:rgb(191, 66, 66) ;
}

.imagen-grid {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 50;
    transform: scale(0.95);
    width: 191px;
    height: 191px;
}

.imagen-grid.aparecer {
    opacity: 1;
    transform: scale(1);
}

.imagen-grid.desvanecer {
    opacity: 2;
    transform: scale(0.95);
}


.contenedor-segundaro {
    background-color: rgba(13, 44, 130, 0.897);
    border-radius: 10px;
}
.contenedor-segundaro2 {
    background-color: rgba(129, 173, 244, 0.678);
    margin: auto;
    width: 95%;
}
.contenedor-segundaro3 {
    background-color: rgba(251, 251, 251, 0.951);
}

.contenedor-segundaro4 {
    background-color: rgba(251, 251, 251, 0.951);
    
}
.contendor {
    background-color: rgba(61, 95, 220, 0.406);
    
}




